<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HuskarWeChart</display-name>
  <welcome-file-list>
    <welcome-file>wechart</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>wechart</servlet-name>
    <servlet-class>com.huskar.wechart.WeChartMain</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>monkingtest</servlet-name>
    <servlet-class>com.huskar.wechart.MonkingTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>testservlet</servlet-name>
    <servlet-class>com.huskar.wechart.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Queryservlet</servlet-name>
    <servlet-class>com.huskar.wechart.Queryservlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ServiceServlet</servlet-name>
    <servlet-class>com.huskar.wechart.ServiceServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>HuskarServlet</servlet-name>
    <servlet-class>com.huskar.wechart.HuskarServlet</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
    <servlet-name>HuskarServlet</servlet-name>
    <url-pattern>/huskar</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>wechart</servlet-name>
    <url-pattern>/wechart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>monkingtest</servlet-name>
    <url-pattern>/monking/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>testservlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Queryservlet</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ServiceServlet</servlet-name>
    <url-pattern>/service</url-pattern>
  </servlet-mapping>
</web-app>